<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.topie.zcpt.core.dao.AppApplicationinfoMapper" >
  <resultMap id="BaseResultMap" type="com.topie.zcpt.core.model.AppApplicationinfo" >
    <!--
      WARNING - @mbggenerated
    -->
    <result column="id" property="id" jdbcType="VARCHAR" />
    <result column="app_name" property="appName" jdbcType="VARCHAR" />
    <result column="app_code" property="appCode" jdbcType="VARCHAR" />
    <result column="app_path" property="appPath" jdbcType="VARCHAR" />
    <result column="app_path1" property="appPath1" jdbcType="VARCHAR" />
    <result column="syn_type" property="synType" jdbcType="VARCHAR" />
    <result column="syn_path" property="synPath" jdbcType="VARCHAR" />
    <result column="syn_path1" property="synPath1" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="packagename" property="packagename" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="op_level" property="opLevel" jdbcType="VARCHAR" />
    <result column="user_level" property="userLevel" jdbcType="VARCHAR" />
    <result column="param_name" property="paramName" jdbcType="VARCHAR" />
    <result column="seq" property="seq" jdbcType="INTEGER" />
  </resultMap>
</mapper>